# See http://help.github.com/ignore-files/ for more about ignoring files.

/logs
/rtp/
/wrlinux-x/
/okd/fetched

# ignored anywhere
collections/
fetched/
tmp/
temp/
venv/

# documentation
.tox
docs/_build/*

# editor
.vscode
rtp.code-workspace

