apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority-data: {{ o2_dms_deployment_mgr_profile['json']['extensions']['profileData']['cluster_ca_cert'] | b64encode }}
    server: {{ o2_dms_deployment_mgr_profile['json']['extensions']['profileData']['cluster_api_endpoint'] }}
  name: {{ o2_dms_deployment_mgr_profile['json']['name'] }}
contexts:
- context:
    cluster: {{ o2_dms_deployment_mgr_profile['json']['name'] }}
    user: admin
  name: admin
current-context: admin
preferences: {}
users:
- name: admin
  user:
    client-certificate-data: {{ o2_dms_deployment_mgr_profile['json']['extensions']['profileData']['admin_client_cert'] | b64encode }}
    client-key-data: {{ o2_dms_deployment_mgr_profile['json']['extensions']['profileData']['admin_client_key'] | b64encode }}
