---
- name: Clone oran-o2ims repo
  ansible.builtin.git:
    repo: "{{ ocloud_platform_o2ims_repo_url }}"
    version: "{{ ocloud_platform_o2ims_repo_version }}"
    dest: "{{ ocloud_staging_dir['path'] }}/git/oran-o2ims"

- name: Install oran-o2ims operator
  ansible.builtin.shell:
    chdir: "{{ ocloud_staging_dir['path'] }}/git/oran-o2ims"
    cmd: "make install deploy"
  environment:
    PATH: "{{ ocloud_staging_dir['path'] }}/go/bin:{{ ansible_env.PATH }}"
    KUBECONFIG: "{{ ocloud_kubeconfig }}"

- name: Patch postgresql image in oran-o2ims-controller-manager deployment
  kubernetes.core.k8s_json_patch:
    name: oran-o2ims-controller-manager
    kind: Deployment
    namespace: "{{ ocloud_platform_o2ims_namespace }}"
    kubeconfig: "{{ ocloud_kubeconfig }}"
    patch:
      - op: replace
        path: "/spec/template/spec/containers/0/env/1"
        value:
          name: POSTGRES_IMAGE
          value: quay.io/sclorg/postgresql-16-c9s:c9s
