---
- name: Disable default catalog sources
  kubernetes.core.k8s:
    api_version: config.openshift.io/v1
    kind: OperatorHub
    name: cluster
    namespace: default
    state: patched
    definition:
      spec:
        disableAllDefaultSources: true
    kubeconfig: "{{ ocloud_kubeconfig }}"

- name: Clone stolostron/deploy repo
  ansible.builtin.git:
    repo: "{{ ocloud_platform_stolostron_repo_url }}"
    dest: "{{ ocloud_staging_dir['path'] }}/git/stolostron-deploy"

- name: Template pull secret
  ansible.builtin.template:
    src: "pull-secret.yaml.j2"
    dest: "{{ ocloud_staging_dir['path'] }}/git/stolostron-deploy/prereqs/pull-secret.yaml"

- name: Template snapshot version
  ansible.builtin.template:
    src: "snapshot.ver.j2"
    dest: "{{ ocloud_staging_dir['path'] }}/git/stolostron-deploy/snapshot.ver"

- name: Install stolostron
  ansible.builtin.shell:
    chdir: "{{ ocloud_staging_dir['path'] }}/git/stolostron-deploy"
    cmd: "./start.sh --silent --watch --search"
  environment:
    PATH: "{{ ocloud_staging_dir['path'] }}/bin:{{ ansible_env.PATH }}"
    KUBECONFIG: "{{ ocloud_kubeconfig }}"

- name: Create search-api route
  kubernetes.core.k8s:
    api_version: route.openshift.io/v1
    kind: Route
    name: search-api
    namespace: open-cluster-management
    state: present
    definition:
      spec:
        tls:
          termination: reencrypt
        to:
          kind: Service
          name: search-search-api
    kubeconfig: "{{ ocloud_kubeconfig }}"

- name: Create AgentServiceConfig
  kubernetes.core.k8s:
    template: "agent-service-config.yaml.j2"
    state: present
    kubeconfig: "{{ ocloud_kubeconfig }}"

- name: Enable siteconfig
  kubernetes.core.k8s_json_patch:
    name: multiclusterhub
    kind: MultiClusterHub
    namespace: open-cluster-management
    kubeconfig: "{{ ocloud_kubeconfig }}"
    patch:
      - op: add
        path: "/spec/overrides/components/-"
        value:
          name: siteconfig
          enabled: true
