#jinja2:trim_blocks: True, lstrip_blocks: True
apiVersion: v1beta1
kind: AgentConfig
metadata:
  name: {{ ocloud_cluster_name }}
{% if hostvars[groups['ocloud'][0]]['ocloud_infra'] == "baremetal" %}
rendezvousIP: {{ hostvars[groups['ocloud'][0]]['network_config']['interfaces'][0]['ipv4']['address'][0]['ip'] }}
{% else %}
rendezvousIP: {{ ocloud_net_cidr | ansible.utils.ipmath(11) }}
{% endif %}
{% if ocloud_ntp_servers is defined and ocloud_ntp_servers | length > 0 %}
additionalNTPSources:
{% for ntp_server in ocloud_ntp_servers %}
- {{ ntp_server }}
{% endfor %}
{% endif %}
{% if groups['ocloud'] | map('extract', hostvars, 'ocloud_infra') | select('equalto', 'baremetal') | length > 0 %}
hosts:
{% endif %}
{% for hostname in groups['ocloud'] %}
  {% if hostvars[hostname]['ocloud_infra'] == "baremetal" %}
  - role: {{ hostvars[hostname]['role'] }}
    hostname: {{ hostname }}
    interfaces:
    - name: {{ hostvars[hostname]['network_config']['interfaces'][0]['name'] }}
      macAddress: {{ hostvars[hostname]['mac_addresses'][hostvars[hostname]['network_config']['interfaces'][0]['name']] }}
    networkConfig:
      {{ hostvars[hostname]['network_config'] | to_nice_yaml(indent=2) | trim | indent(6) }}
      dns-resolver:
        config:
          search:
          - {{ ocloud_domain_name }}
          server:
          {% for dns_server in ocloud_dns_servers %}
          - {{ dns_server }}
          {% endfor %}
    {% if hostvars[hostname]['installation_disk_path'] is defined %}
    rootDeviceHints:
      deviceName: {{ hostvars[hostname]['installation_disk_path'] }}
    {% endif %}
  {% endif %}
{% endfor %}
