#jinja2:trim_blocks: True, lstrip_blocks: True
apiVersion: v1beta1
kind: AgentConfig
metadata:
  name: {{ ocloud_cluster_name }}
{% set rendezvous_host = groups['ocloud'] | map('extract', hostvars) | selectattr('role', 'equalto', 'master') | first %}
{% if rendezvous_host.get('ip_address') %}
rendezvousIP: {{ rendezvous_host['ip_address'] }}
{% elif rendezvous_host.get('network_config') %}
rendezvousIP: {{ rendezvous_host['network_config']['interfaces'][0]['ipv4']['address'][0]['ip'] }}
{% else %}
rendezvousIP: {{ ocloud_rendezvous_ip | default(ocloud_net_cidr | ansible.utils.ipmath(11)) }}
{% endif %}
{% if ocloud_ntp_servers is defined and ocloud_ntp_servers | length > 0 %}
additionalNTPSources:
{% for ntp_server in ocloud_ntp_servers %}
- {{ ntp_server }}
{% endfor %}
{% endif %}
{% if groups['ocloud'] | map('extract', hostvars, 'network_config') | select | list | length > 0 %}
hosts:
{% for hostname in groups['ocloud'] %}
  {% if hostvars[hostname].get('network_config') %}
  - role: {{ hostvars[hostname]['role'] }}
    hostname: {{ hostname }}
    {% if hostvars[hostname].get('mac_addresses') %}
    interfaces:
    - name: {{ hostvars[hostname]['network_config']['interfaces'][0]['name'] }}
      macAddress: {{ hostvars[hostname]['mac_addresses'][hostvars[hostname]['network_config']['interfaces'][0]['name']] }}
    {% endif %}
    networkConfig:
      {{ hostvars[hostname]['network_config'] | to_nice_yaml(indent=2) | trim | indent(6) }}
  {% endif %}
{% endfor %}
{% endif %}
