---
- name: Get manager inventory information
  community.general.redfish_info:
    category: Manager
    command: GetManagerInventory
    baseuri: "{{ bmc_address }}"
    username: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
  register: redfish_manager_info

- set_fact:
    ocloud_infra_baremetal_manager_id: "{{ redfish_manager_info['redfish_facts']['manager']['entries'][0][1]['Id'] }}"
    ocloud_infra_baremetal_image_url: "http://{{ hostvars['http_store']['ansible_host'] }}:{{ hostvars['http_store']['http_port'] }}/{{ ocloud_infra_baremetal_image }}"

- name: Download platform boot image
  ansible.builtin.fetch:
    src: "{{ ocloud_platform_image }}"
    dest: "/tmp/{{ ocloud_infra_baremetal_image }}"
    flat: true
  run_once: true

- name: Copy platform boot image to HTTP store
  ansible.builtin.copy:
    src: "/tmp/{{ ocloud_infra_baremetal_image }}"
    dest: "{{ hostvars['http_store']['http_store_dir'] }}/{{ ocloud_infra_baremetal_image }}"
  delegate_to: http_store
  run_once: true
  become: true

- name: Power off
  community.general.redfish_command:
    category: Systems
    command: PowerForceOff
    baseuri: "{{ bmc_address }}"
    username: "{{ bmc_user }}"
    password: "{{ bmc_password }}"

- name: Get virtual media information
  community.general.redfish_info:
    category: Manager
    command: GetVirtualMedia
    baseuri: "{{ bmc_address }}"
    username: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
  register: virtual_media_info

- name: Eject virtual media
  community.general.redfish_command:
    category: Manager
    command: VirtualMediaEject
    virtual_media:
      image_url: "{{ item['Image'] }}"
    baseuri: "{{ bmc_address }}"
    username: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    resource_id: "{{ ocloud_infra_baremetal_manager_id }}"
  when: item['ConnectedVia'] != "NotConnected" and item['Image'] | length > 0
  loop: "{{ virtual_media_info['redfish_facts']['virtual_media']['entries'][0][1] }}"

- name: Configure one-time boot from virtual media
  community.general.redfish_command:
    category: Systems
    command: SetOneTimeBoot
    bootdevice: Cd
    baseuri: "{{ bmc_address }}"
    username: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    resource_id: "{{ ocloud_infra_baremetal_manager_id }}"

- name: Insert virtual media
  community.general.redfish_command:
    category: Manager
    command: VirtualMediaInsert
    baseuri: "{{ bmc_address }}"
    username: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
    virtual_media:
      image_url: "{{ ocloud_infra_baremetal_image_url }}"
      media_types:
        - CD
        - DVD
    resource_id: "{{ ocloud_infra_baremetal_manager_id }}"
    timeout: 120

- name: Power on
  community.general.redfish_command:
    category: Systems
    command: PowerOn
    baseuri: "{{ bmc_address }}"
    username: "{{ bmc_user }}"
    password: "{{ bmc_password }}"
  notify: monitor_platform_deployment
