apiVersion: v1
kind: Secret
metadata:
  name: multiclusterhub-operator-pull-secret
  namespace: "{{ ocloud_platform_mco_namespace }}"
data:
  .dockerconfigjson: {{ ocloud_platform_mco_pull_secret | to_json | b64encode }}
type: kubernetes.io/dockerconfigjson
