---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    app.kubernetes.io/name: minio
  name: minio
  namespace: "{{ ocloud_platform_mco_namespace }}"
spec:
  storageClassName: "{{ ocloud_platform_mco_storageclass }}"
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: "{{ ocloud_platform_mco_minio_storage_size }}"
