---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: "{{ ocloud_platform_mco_storageclass }}"
  annotations:
    storageclass.kubernetes.io/is-default-class: "true"
provisioner: kubernetes.io/no-provisioner
volumeBindingMode: WaitForFirstConsumer
